:root {
    --logo-color: #4d5ae5;
    --span-color: #2e2f42;
    --link-color: #2e2f42;
    --text-color: #434455;
}

/* Stiluri pentru clasa logo-ului */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}
/* Stiluri pentru clasa span-ului din logo */

.span-header {
    color: var(--span-color);
}
/* Stiluri pentru clasa link */

.list{
    text-decoration: none;
}
/* Stiluri pentru primul element al listei */
.list li:first-child .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.list li:first-child .link:hover {
    color: #404bbf;
}

.list li:first-child .link:focus {
    color: #404bbf;
}

/* Stiluri pentru al doilea element al listei (reutilizare stiluri pentru link) */
.list li:nth-child(2) .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.list li:nth-child(2) .link:hover {
    color: #404bbf;
}

.list li:nth-child(2) .link:focus {
    color: #404bbf;
}

/* Stiluri pentru tag-ul <address> */
.contact-list {
    font-style: normal;
}

/* Inside the body style */
.body {
    font-family: "Roboto", sans-serif;
  }

.body {
    color: var(--text-color);
  }

.logo:hover {
    color: #404bbf;
  }

  .logo span {
    color: var(--span-color); /* Define a CSS variable for span color */
  }
  list li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color); /* Define a CSS variable for link color */
    text-decoration: none;
  }
  
  .list li a:hover,
  .list li a:focus {
    color: #404bbf;
  }
  