.root{
  --link-color:color: #2E2F42;
  --global-font-family:"Roboto", sans-serif;
  --logo-font-family:"Raleway", sans-serif;
  --link-logo:color: #434455;
}

body .website {
  font-family: var(--global-font-family);
}

.logo::before{
  content: "WEB";
  color: blue;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  text-decoration: none;
}

.link-logo a {
  color: var(--link-logo);
  text-decoration: none;
  size: 16px;
  line-height:24px;
  
}
.pages a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  size: 16px;
  line-height:24px;
  }

ul {
    list-style-type: none;
  }
.button-order:hover{
  background-color:#4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  
}
.button-order{
  padding: 16px,32px,16px,32px;
  width: 169px;
  height:56px;
  font-weight: 500;
  size: 16px;
  border-radius: 4px;
  border: none;
  line-height:24px;
}
.hero-heder{
  font-family: var(--logo-font-family);
  font-weight: 700;
  color: #FFFFFF;
  background-color: 
  #2E2F42;
  text-align: center;
  line-height:60x;
}
.about li h3{
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height:24px;
}
.about li p{
  size: 16px;
  color: var(--link-color);
  line-height:24px;
}
.sub-heder{
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height:40px;
}
.team{
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height:40px;
}
.our-team h3{
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height:24px;
}
.our-team p{
  size: 16px;
  color: var(--link-logo);
  line-height:24px;
}
.footer{
background-color: #2E2F42;
color:#F4F4FD ;
line-height:16px;

}
.logo-studio{
  color: #FFFFFF;
  line-height:21px;
  
}
.buttons .all {
  font-weight: 500;
  color: #4D5AE5;
  background-color: #E7E9FC;
  width:69px;
  height:48px;
  radius:4px;
  padding:12px, 24px, 12px, 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height:24px;
}
.buttons .all:hover {
  background-color:#404BBF;
  color: #FFFFFF;
  }

  .buttons .web{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:116px;
    height:48px;
    radius:4px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:24px;
  }
  .buttons .web:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .app{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:78px;
    height:48px;
    radius:4px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:24px;
  }
  .buttons .app:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .design{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:101px;
    height:48px;
    radius:4px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:24px;
  }
  .buttons .design:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .marketing{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:101px;
    height:48px;
    radius:4px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:24px;
  }
  .buttons .marketing:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }